<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Webtechnologien</title>
    <link rel="stylesheet" href="/css/flexbox.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="Kopfbereichflexbox">
        <%- include('header.ejs') %>
        <%- include('nav.ejs') %>
    </div>
    <div class="flexbox">
      <main>
        <section title="Basisinformationen">
          <h3>Basisinformationen zum Kurs</h3>
          <p><span class="bold">Modul-ID</span> = <%=kurs.modulId%></p>
          <p><span class="bold">Typ</span> = <%=kurs.typ%></p>
          <p><span class="bold">Studiengang</span> = <%=kurs.studiengang.name%></p>
          <p><span class="bold">Semester</span> = <%=kurs.semester%></p>
          <p><span class="bold">Gruppenbuchstabe</span> = <%=kurs.gruppenbuchstabe%></p>
        </section>

        <section title="Lehrperson">
          <h3>Lehrperson</h3>
          <p><span class="bold">ID</span> = <%=kurs.lehrperson.id%></p>
          <p><span class="bold">Nachname</span> = <%=kurs.lehrperson.nachname%></p>
        </section>

        <section title="Termin">
          <h3>Termin</h3>
          <p><span class="bold">Wochentag </span>= <%=kurs.termin.wochentag%></p>
          <p><span class="bold">Beginn </span>= <%=kurs.termin.beginn%></p>
          <p><span class="bold">Dauer der Kurses </span>= <%=kurs.termin.dauer%></p>
          <p><span class="bold">Raum </span>= <%=kurs.termin.raum%></p>
        </section>
      </main>
      <%- include('aside.ejs') %>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
