<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Plan</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/grid.css" />
  </head>
  <body>
    <%- include('header.ejs') %>
    <%- include('nav.ejs') %>
    <main>
      <section title="Informationen zum Semester">
        <h3>Informationen zum Semester</h3>
        <ul>
          <li>Name meines Semesterplans: <%=semesterplan.name %></li>
          <li>Studiengang: <%=semesterplan.studiengang.name %></li>
          <li>Semester: <%=semesterplan.semester %></li>
        </ul>
      </section>

      <section title="Gewählte Kurse">
        <h3>Gewählte Kurse</h3>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Wochentag</th>
              <th>Timeslot (duration)</th>
            </tr>
          </thead>
          <tbody>
            <% for(let elements of semesterplan.kurse) { %>
                <tr>
                    <td><a href="/kurs?sid=<%=studiengangIduebergabe%>&kid=<%=elements.id%>"> <%=elements.name%> </a></td>
                    <td><%=elements.termin.wochentag%> </td>
                    <td><%=elements.termin.beginn%> (<%=elements.termin.dauer%>) </td>
                </tr>
            <% }%>
          </tbody>
        </table>
      </section>
    </main>
    <%- include('aside.ejs') %>

    <%- include('footer.ejs') %>
  </body>
</html>
