<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Semesterplan erstellen</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/form.css" />
    <link rel="stylesheet" href="/css/grid.css" />
  </head>
  <body>
    <%- include('header.ejs') %>
    <%- include('nav.ejs') %>
    <main>
      <form
        class="formsection2"
        method="post"
        action="/neu"
      >
        <fieldset>
          <legend>Basisdaten</legend>
          <label class="required">
            Name:
            <input
              name="name"
              type="text"
              placeholder="Mein Semesterplan"
              pattern="[A-Za-z0-9\-]+"
              maxlength="150"
              required
            />
          </label>
        </fieldset>

        <fieldset>
          <legend>Semester</legend>
          <label>
            Sommersemester<input
              class="SemsterSelect"
              name="semester"
              value="Sommersemester"
              type="radio"
              checked
            />
          </label>
          <label>
            Wintersemester<input
              type="radio"
              class="SemsterSelect"
              name="semester"
              value="Wintersemester"
            />
          </label>
          <br />
          <label class="required">
            Jahr
            <input
              name="jahr"
              type="number"
              min="1900"
              max="2099"
              value="2022"
              required
            />
          </label>
        </fieldset>

        <fieldset>
            
          <legend>Kurse</legend>
          <% for(elements of studiengang2.kurse) { %>
            <label>
            <input
              type="checkbox"
              class="SemsterSelect"
              name="kurseIds"
              value="<%=elements.id%>"
            />
            <%=elements.name%> <br/>
            </label>
          <% } %>
        </fieldset>
        <p>
          <input class="SubmitButton" type="submit" />
        </p>
      </form>
    </main>
    <%- include('aside.ejs') %>
    <%- include('footer.ejs') %>
  </body>
</html>
